<div class="profile-container">
  <div class="profile-left-column">
    <img src="/assets/images/cropped_profile_image.jpg" alt="Kim Seojin's Profile Photo" class="profile-pic">
    <div class="profile-links">
      <a href="https://github.com/KSJcompany" target="_blank">GitHub</a>
      <a href="/assets/cv.pdf" target="_blank">CV</a>
      <a href="https://www.linkedin.com/in/seojin-kim-058503331/" target="_blank">LinkedIn</a>
      <a href="mailto:dattol1136@yonsei.ac.kr">Email</a>
    </div>
  </div>
  
  <div class="profile-details">
    <h1>Kim Seojin</h1>
    <p>I am an undergraduate student at Yonsei University, majoring in Artificial Intelligence with a particular focus on computer vision and medical AI. 
        My research interests are at the intersection of artificial intelligence and healthcare, 
        where I concentrate on developing predictive models for disease diagnosis using biomedical data. 
        As a member of the Yonsei Artificial Intelligence (YAI) academic society, 
        I am involved in analyzing biomedical data for disease prediction and exploring applications of computer vision in medical imaging. 
        I am currently engaged in several ongoing projects, including the exploration of AI-driven healthcare solutions and participation in medical AI competitions. 
        My research goals include advancing the integration of AI in healthcare diagnostics, 
        contributing to the development of innovative models for early disease detection, and exploring how AI can improve patient care and medical outcomes. 
        I am dedicated to research that connects AI with medical technologies, 
        with the aim of advancing healthcare and utilizing biomedical data more effectively through AI.</p>
  </div>
</div>
