<header class="post-header">
  <h1 class="post-title p-name" itemprop="name headline">{{ heading | default: page.title | escape }}</h1>
  <h2 class="post-subtitle">{{ subheading | default: page.subtitle | escape }}</h2>

  <div class="post-meta">
    <span class="post-date"><i class="fa fa-calendar"></i> {{ page.date | date: date_format }}</span>
    {%- if page.author -%}
    <span class="post-author"><i class="fa fa-user"></i> {{ page.author | escape }}</span>
    {%- endif -%}
    {%- if page.content_types -%}
    <span class="post-content-type"><i class="fa fa-folder"></i> {{ page.content_types }}</span>
    {%- endif -%}
    {%- if page.research_areas -%}
    <span class="post-research-area"><i class="fa fa-tag"></i> {{ page.research_areas | join: ", " }}</span>
    {%- endif -%}
  </div>

  {%- if page.tags.size > 0 -%}
  <div class="post-tags">
    {%- for tag in page.tags -%}
    <a class="post-tag" href="{{ '/tags.html ' | relative_url }}#{{tag}}">#{{tag}}</a>
    {%- endfor -%}
  </div>
  {%- endif -%}

</header>
