---
layout: default
---

<div class="framework">
  <section class="main">

     {{ content }}

  </section>
  <section class="sidebar" style="margin-left: 15px;">
    <!-- Get sidebar items -->
    {%- if page.sidebar != 'none' -%}
      {%- assign sidebar = page.sidebar | default: site.defaults.sidebar -%}
      <aside class="sidebar left-sidebar">
        {%- if sidebar -%}
          {%- include sidebar/content-type-list.html -%}
        {%- endif -%}
      </aside>
    {%- endif -%}
  </section>
</div>
